@media screen and (max-width: 769px) 
{
    .container{
        width: 768px;
    }
    
}
@media screen and (max-width: 481px) 
{
    .container{
        width: 480px;
    }

    .row{
        flex-direction: column;
        justify-content: center;
    }

    .row .col{
        width: 100%;
    }
}