@media screen and (max-width: 769px) 
{
    .container{
        width: 100%;
    }

    /* .container{
        width: 768px;
    } */

    body{
        /* display: inline-block; */
    }
    
}



@media screen and (max-width: 481px) 
{
    .container{
        width: 100%;
    }

    /* .container{
        width: 480px;
    } */

    .row{
        flex-direction: column;
        justify-content: center;
    }

    body{
        /* display: inline-block; */
    }

    .row .col{
        width: 100%;
    }

    
    .steps .col {
        width: 100%;
    }
 
     
    .steps .col img {
         object-fit: contain;
         margin-bottom: 1rem;
    } 


}